USE [master]
GO
/****** Object:  Database [SegurosDeVidaDB]    Script Date: 17/10/2024 09:12:09 p. m. ******/
CREATE DATABASE [SegurosDeVidaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SegurosDeVidaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SegurosDeVidaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SegurosDeVidaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SegurosDeVidaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SegurosDeVidaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SegurosDeVidaDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 17/10/2024 09:12:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuadrosTecnicos]    Script Date: 17/10/2024 09:12:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuadrosTecnicos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreAsegurado] [nvarchar](100) NOT NULL,
	[NombreAseguradora] [nvarchar](100) NOT NULL,
	[NumPoliza] [nvarchar](100) NOT NULL,
	[fechaInicio] [datetime2](7) NULL,
	[fechaFinVigencia] [datetime2](7) NULL,
	[activo] [bit] NOT NULL,
	[TipoSeguro] [nvarchar](max) NOT NULL,
	[createdAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[createdBy] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_CuadrosTecnicos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
